In [69]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score,mean_absolute_error, mean_squared_error
from sklearn.model_selection import train_test_split

In [70]:
# Read Data using pandas
df = pd.read_csv('../data/Salary_Age_Data.csv')
df = df.dropna()
X,Y = df[['YearsExperience','Age']],df['Salary']
df.head()

   YearsExperience   Age  Salary
0              1.1  25.0   39343
1              1.3  28.0   46205
2              1.5  35.0   37731
4              2.2  40.0   39891
5              2.9  33.0   56642

In [71]:
# Split data 
x_train, x_test,y_train, y_test = train_test_split(X,Y,test_size=0.2,random_state=100)

In [72]:
# Fit model 
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [73]:
print("Coeffcienc", model.coef_)
print("Intercept", model.intercept_)

Coeffcienc [10671.66971288  -956.8601439 ]
Intercept 55358.03471531361

In [74]:
y_predict = model.predict(x_test)
y_predict

array([71252.62953751, 56974.13290378, 42439.12131273])

In [75]:
print("r2_score ; ",r2_score(y_test,y_predict))
print("mean_absolute_error ; ",mean_absolute_error(y_test,y_predict))
print("mean_squared_error ; ",mean_squared_error(y_test,y_predict))

r2_score ;  -3.816357163930899
mean_absolute_error ;  7251.213709521937
mean_squared_error ;  86515860.90345107

In [76]:
train_predict =  model.predict(df[['YearsExperience','Age']])
df["Prediction"] =  train_predict
df

    YearsExperience   Age  Salary    Prediction
0               1.1  25.0   39343  43175.367802
1               1.3  28.0   46205  42439.121313
2               1.5  35.0   37731  37875.434248
4               2.2  40.0   39891  40561.302327
5               2.9  33.0   56642  54729.492134
6               3.0  33.0   60150  55796.659105
7               3.2  34.0   54445  56974.132904
8               3.2  35.0   64445  56017.272760
9               3.7  38.0   57189  58482.527185
10              3.9  32.0   63218  66358.021991
11              4.0  28.0   55794  71252.629538
12              4.0  39.0   56957  60727.167955
13              4.1  42.0   57081  58923.754494

In [77]:
df.to_csv('../data/Salary_Age_Data.csv')