In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
import numpy as np

In [2]:
data = pd.read_csv('Salary_Age_Data.csv')
data

    YearsExperience   Age  Salary
0               1.1  25.0   39343
1               1.3  28.0   46205
2               1.5  35.0   37731
3               2.0   NaN   43525
4               2.2  40.0   39891
5               2.9  33.0   56642
6               3.0  33.0   60150
7               3.2  34.0   54445
8               3.2  35.0   64445
9               3.7  38.0   57189
10              3.9  32.0   63218
11              4.0  28.0   55794
12              4.0  39.0   56957
13              4.1  42.0   57081

In [3]:
# Drop null values
data = data.dropna()
data.head(10)

    YearsExperience   Age  Salary
0               1.1  25.0   39343
1               1.3  28.0   46205
2               1.5  35.0   37731
4               2.2  40.0   39891
5               2.9  33.0   56642
6               3.0  33.0   60150
7               3.2  34.0   54445
8               3.2  35.0   64445
9               3.7  38.0   57189
10              3.9  32.0   63218

In [4]:
#fill null with median
age_median = data.Age.median()
age_median
data.Age = data.Age.fillna(age_median)
#data

C:\Users\DELL\AppData\Local\Temp\ipykernel_24024\613940962.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.Age = data.Age.fillna(age_median)

In [5]:
#convert to numpy array
x = np.array(data[['YearsExperience', 'Age']]).reshape(-1,2)

In [6]:
model = linear_model.LinearRegression()
#model.fit(data[['YearsExperience', 'Age']], data.Salary)
model.fit(x, data.Salary)

LinearRegression()

In [7]:
print("Coefficients: ",model.coef_)
print("Intercept: ",model.intercept_)

Coefficients:  [7894.91202156 -447.79752268]
Intercept:  45093.950538658006

In [8]:
# Predicting salaries for the test data
model.predict([[2.2, 40]])

array([44550.85607894])

In [9]:
8052.09524516*2.2-463.46379761*40+45023.98202379839

44200.03965875039